TestWcfClient/Connected Services/TestServiceReference/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59111/TestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59111/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_get_num1_InputMessage">
    <wsdl:part name="parameters" element="tns:get_num1" />
  </wsdl:message>
  <wsdl:message name="ITestService_get_num1_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_num1Response" />
  </wsdl:message>
  <wsdl:message name="ITestService_get_num2_InputMessage">
    <wsdl:part name="parameters" element="tns:get_num2" />
  </wsdl:message>
  <wsdl:message name="ITestService_get_num2_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_num2Response" />
  </wsdl:message>
  <wsdl:message name="ITestService_get_num3_InputMessage">
    <wsdl:part name="parameters" element="tns:get_num3" />
  </wsdl:message>
  <wsdl:message name="ITestService_get_num3_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_num3Response" />
  </wsdl:message>
  <wsdl:message name="ITestService_PutData_InputMessage">
    <wsdl:part name="parameters" element="tns:PutData" />
  </wsdl:message>
  <wsdl:message name="ITestService_PutData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="get_num1">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/get_num1" message="tns:ITestService_get_num1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/get_num1Response" message="tns:ITestService_get_num1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_num2">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/get_num2" message="tns:ITestService_get_num2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/get_num2Response" message="tns:ITestService_get_num2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_num3">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/get_num3" message="tns:ITestService_get_num3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/get_num3Response" message="tns:ITestService_get_num3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/PutData" message="tns:ITestService_PutData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/PutDataResponse" message="tns:ITestService_PutData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetData" message="tns:ITestService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetDataResponse" message="tns:ITestService_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestService" type="tns:ITestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_num1">
      <soap:operation soapAction="http://tempuri.org/ITestService/get_num1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_num2">
      <soap:operation soapAction="http://tempuri.org/ITestService/get_num2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_num3">
      <soap:operation soapAction="http://tempuri.org/ITestService/get_num3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutData">
      <soap:operation soapAction="http://tempuri.org/ITestService/PutData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="BasicHttpBinding_ITestService" binding="tns:BasicHttpBinding_ITestService">
      <soap:address location="http://localhost:59111/TestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>